
.products-container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-card {
    // margin: 1px;
    border: 1px solid transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    img {
        height: 385px;
        width: 385px;
        object-fit: scale-down;
        // object-position: 50% 25%
        // border: 1px solid red;
    }
    
}

.product-details {
    margin: 0;
    background: white;
    // border: 1px solid red;
    height: 100%;
    padding: 10px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color-options-container {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 385px;
    background-color: #EBEFF0;
    .cover {
        object-fit: cover;
    }
    img {
        height: 85px;
        width: 85px;
    }
}
.detailed-product-card {
    position: absolute;
    background: white;
    top: -1px;
    left: -1px;
    left: -1px;
    // bottom: 0;
    z-index: 99;
    border: 1px solid transparent;
}
.detailed-product-card:hover {
    border: 1px solid black;
}