.featured-container {
    // overflow-y: scroll;
    margin: 10px 0;
}
.featured {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    // padding: 20px
}
.featured-item {
    // border: 1px solid red;
    width: 45vw;
    height: 45vh;
    // overflow: hidden;
    text-align: center;
    img {
        object-fit: cover;
        width: 45vw;
        height: 45vh;
    }
    span {
        position: relative;
        bottom: 40px;
        font-weight: 600;
        padding: 3px;
        text-decoration: underline;
        width: 100%;
    }
    span:hover {
        position: relative;
        bottom: 40px;
        color: white;
        background: black; 
    }
}
