.main-nav-container {
    background: white;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 100px; 
    box-shadow: 0px 6px 39px -9px rgba(0,0,0,0.54);

}
.main-nav {
    // position: relative;
    // bottom: 0;
    // margin: auto;
    // margin-top: 20px;
    display: flex;
    // height: 340px;
    // width: 960px;
    // margin: 20px;
}
.collapsed-link-blocks {
    display: flex;
    flex-direction: column;
    width: 182px;
    margin-right: 32px;
    
    
    .main-links{
        font-size: 19px;
        font-weight: 900;
        line-height: 20px;
        cursor: pointer;
    }
    .collapsed-nav-links{
        cursor: pointer;
        font-weight: 200;
        font-size: 14px ;
        margin: 2px 0
    }
    .collapsed-nav-links:hover {
        text-decoration: underline;
    }
}
.small-foot {
    background: #363738;
    height: 48px;
    color: #c8cbcc;
    font-size: 12px;
    .small {
        margin: auto;
        width: 960px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .foot-break {
            padding-right: 21px;
            margin: 0 8px;
        }
    }
}
.solid {
    font-weight: 900;
}
